@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";



$primary: #3fc8c4;
$secondary: #f6e90d;

$custom-theme-colors:map-merge($theme-colors, (
  "primary": $primary, "secondary" : $secondary
));
$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import 'bootstrap/scss/bootstrap';