<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Edit Book</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="number" class="form-control" id="id" [(ngModel)]="book.id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" [(ngModel)]="book.title">
                    </div>
                    <div class="form-group">
                        <label for="selectAuthor">Author</label>
                        <select ngModel name="author" class="form-control" id="selectAuthor">
                            <option *ngFor="let author of authors" [value]="book.author.id" selected>
                                {{ author.firstName }} {{ author.lastName }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="isbn">ISBN</label>
                        <input type="text" class="form-control" id="isbn" [(ngModel)]="book.ISBN">
                    </div>
                    <div class="form-group">
                        <label for="publishDate">Publish Date</label>
                        <input type="date" class="form-control" id="publishDate" [(ngModel)]="book.publishDate">
                    </div>
                    <div class="form-group">
                        <label for="selectGenre">Genre</label>
                        <select ngModel name="genre" class="form-control" id="selectGenre">
                            <option *ngFor="let genre of genres" [value]="book.genre.id">
                                {{ genre.name }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <textarea class="form-control" id="summary" rows="3" [(ngModel)]="book.summary"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="saveBook()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>